
alert-box {
  padding: 20px;
  border-radius: 4px;
  color: black;
}

.blink {
  animation: blinkColors 2s infinite;
}

@keyframes blinkColors {
  0% {
    background-color: red;
  }

  50% {
    background-color: yellow;
  }

  100% {
    background-color: red;
  }
}

.vendorbtn {
  background-color: #CEB303 !important;
  background-image: none;
  color: white;
  font-weight: bold;
  border: 1px solid;
  border-color: #126daf;
  border-radius: 3px;
}
